<div class="open-roll-info">
Rolled {{numDice}}d6 open:
</div>
<div class="open-dicelist">
  {{#each diceData}}
    {{#if isLargest}}
    <div class="opensuccess dice-single">{{diceVal}}</div>
    {{else}}
    <div class="notsuccess dice-single">{{diceVal}}</div>
    {{/if}}
  {{/each}}
</div>
<div class="open-roll-result">
<br>Highest Roll: {{greatest}}
</div>
