.sr3-dice-roller-popup
{
    width: 150px;
    background-color: #13191f;
    padding: 10px;
    border-radius: 5px;
}

.sr3-roll-input
{
    resize: none;
}

.sr3-roll-button
{
    background-color: #4682B4;
    border-radius: 5px;
}

.dicelist
{
    display: flex;
    flex-wrap: wrap;
}

.dice-single
{
    margin: 2px;
    padding: 2px;

    text-align: center;
    border-radius: 5px;
    min-width: 25px;
    width:25px;
    height: 25px;
    border-width: thin;
    border-style: solid;

}

.skillsuccess
{
    background-color: #cdfcca;
    border-color: #325430;
    color: black;
}

.opensuccess
{
    background-color: #a3c3e3;
    border-color: #7d98b3;
    color: black;
}

.notsuccess
{
    background-color: #DCDCDC;
    color: #808080;
    border-color: #808080;
}

.roll-result
{
    font-size: 20px;
    font-weight: bold;
}

.control-icon-d6
{
    display: inline-block;
    font-family: "dicefont";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;

    content: "\f188";
}

.open-dicelist
{
    display: flex;
    flex-wrap: wrap;
}

.open-roll-result
{
    font-size: 20px;
    font-weight: bold;
}

.open-roll-info
{

}

.sr3-open-dice-roller-popup{
    width: 150px;
    background-color: #F0F8FF;
    padding: 10px;
    border-radius: 5px;
}

.sr3-open-roll-input
{
    resize: none;
}

.sr3-open-roll-button
{
    background-color: #4682B4;
    border-radius: 5px;
}

.openButtonDiv
{
    background-image: url("../images/open_icon.png");
    width: 36px;
    height: 36px;
    border-radius: 5px;
}

.skillButtonDiv
{
    background-image: url("../images/sr_icon.png");
    width: 36px;
    height: 36px;
    border-radius: 5px;
}

.dr-num-dice-input
{
  color: white;
  resize: none;
}

.tn-input
{
resize: none;
  color: white;

}

#controls .sr3-dice-roller-popup.control-tool
{
    font-size: 18px !important;
    width: auto !important;
    height: auto !important;
}

.sr3-dice-roller-popup:hover
{
    border: 1px solid #333 !important;
    box-shadow: 0 0 10px #000 !important;
}

.sr3-dice-roller-popup ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #333;
    display: flex;
}

.sr3-dice-roller-popup .sdr-lastrow {
    border-bottom: none;
}

.sr3-dice-roller-popup .sdr-lastcol {
    border-right: none;
}

.sr3-dice-roller-popup .sdr-col1 {
    width: 110px;
    text-align: left;
}

.sr3-dice-roller-popup li {
    display: inline-block;
    width: 48px;
    text-align: center;
    padding: 5px;
    border-right: 1px solid #333;
    height: 48px;
    cursor: pointer;
}

.sr3-dice-roller-popup li:hover {
    color: #FFF;
    border: 1px solid red;
    border-bottom: 1px solid #ff6400;
    box-shadow: 0 0 10px #ff6400;
}

.sr3-dice-roller-popup li i {
    font-size: 24px;
    vertical-align: middle;
}

.sdr-sub-controls {
    position: absolute;
    left: 4.2rem;
}


#controls .simple-dice-roller-popup.control-tool {
    font-size: 18px !important;
    width: auto !important;
    height: auto !important;
}

.simple-dice-roller-popup:hover {
    border: 1px solid #333 !important;
    box-shadow: 0 0 10px #000 !important;
}

.simple-dice-roller-popup ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #333;
    display: flex;
}

.simple-dice-roller-popup .sdr-lastrow {
    border-bottom: none;
}



.simple-dice-roller-popup .sdr-col1 {
    width: 110px;
    text-align: left;
}

.simple-dice-roller-popup li {
    display: inline-block;
    width: 48px;
    text-align: center;
    padding: 5px;
    border-right: 1px solid #333;
    border-top: 1px solid #333;
    height: 48px;
    cursor: pointer;
}

.simple-dice-roller-popup li:hover {
    color: #FFF;
    border: 1px solid red;
    border-bottom: 1px solid #ff6400;
    box-shadow: 0 0 10px #ff6400;
}

.simple-dice-roller-popup li i {
    font-size: 24px;
    vertical-align: middle;
}

.sdr-sub-controls {
    position: absolute;
    left: 4.2rem;
}
