<form class="{{cssClass}} {{actor.type}} flexcol " autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header sr3-sheet-header">
    <div class="vital-statistics">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
      <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
      </div>

      <div class="condition-monitor-container">
        This is where the condition monitor will go when we have one.
      </div>
    </div>

    <div class="base-attributes">
      This is where we will have a cool line of the body and quickness and things.
    </div>
  </header>

  <div class=sr3charflex>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs sr3tabs flex-group-left" data-group="primary">
      <a class="item sidebar" data-tab="init">Initiative</a>
      <a class="item sidebar" data-tab="bio">Bio</a>
      <a class="item sidebar" data-tab="contacts">Contacts</a>
      <a class="item sidebar" data-tab="cyberware">Cyberware</a>
      <a class="item sidebar" data-tab="deck">Deck</a>
      <a class="item sidebar" data-tab="edges-and-flaws">Edges and Flaws</a>
      <a class="item sidebar" data-tab="inventory">Inventory</a>
      <a class="item sidebar" data-tab="pools">Pools </a>
      <a class="item sidebar" data-tab="rigger-info">Rigger Info</a>
      <a class="item sidebar" data-tab="skills">Skills</a>
      <a class="item sidebar" data-tab="vehicles">Vehicles</a>
    </nav>

    <div class="sr3-sheet-body">

      {{!-- Initiative Tab --}}
      <div class="tab init" data-group="primary" data-tab="init">
        {{> "systems/shadowrun3dev/src/sheets/templates/actors/actor-bodies/init-body.html"}}
      </div>

      {{!-- Biography Tab --}}
      <div class="tab bio" data-group="primary" data-tab="bio">
        {{> "systems/shadowrun3dev/src/sheets/templates/actors/actor-bodies/bio-body.html"}}
      </div>

      {{!-- Contacts Tab --}}
      <div class="tab contacts" data-group="primary" data-tab="contacts">
        {{> "systems/shadowrun3dev/src/sheets/templates/actors/actor-bodies/placeholder.html"}}
      </div>

      {{!-- Cyberware Tab --}}
      <div class="tab cyberware " data-group="primary" data-tab="cyberware">
        {{> "systems/shadowrun3dev/src/sheets/templates/actors/actor-bodies/placeholder.html"}}
      </div>

      {{!-- Sheet Body --}}
      <section class="sheet-body">
      </section>
    </div>
</form>