.sheet
{
    width: 100px;
}
 .rollable:hover {
  cursor: pointer;
}
 h4.rollable:hover, .rollable:hover > h4 {
  color: #000;
  text-shadow: 0 0 10px red;
}
 .rollable
 {
     margin-top: 5px;
 }
.rollable-box
{
    margin: 10px;
    height: 35px;
    background-color: #cc8381;

    width: 150px;
    text-align: center;
    border: 3px solid black;

}

.sr3-sheet-body
{
    flex-direction: column;
    display: flex;
}
nav.sr3tabs
{
    flex-direction: column;
    background-color: rgb(55, 78, 107)
}

.sr3charflex
{
    flex-direction: row;
    display: flex;
}

.vital-statistics
{
    display: flex;
    flex-direction: row;
    background-color: rgb(10, 80, 45)
}

.sr3-sheet-header
{
    flex-direction: column !important;
    background-color: #cc8381 !important;
    align-items: flex-start;
}

.base-attributes
{
    margin: 10px;
    background-color: rgb(199, 243, 39)
}

.condition-monitor-container
{
    margin: 10px;
    background-color: rgb(168, 123, 0)
}


.header-fields
{
    margin: 10px;
    background-color: rgb(80, 10, 22)
}


.tabs > [data-tab] {
    text-align: center;
  }
  .tabs > [data-tab] > * {
    pointer-events: none;
  }
  .tabs > [data-tab].active {
    text-shadow: 0 0 10px var(--color-shadow-primary);
  }
  .tab[data-tab] {
    display: none;
  }
  .tab[data-tab].active {
    display: block;
  }
  .tab[data-tab].active.flexrow,
  .tab[data-tab].active.flexcol {
    display: flex;
  }
  .tab[data-tab].hidden {
    display: none;
  }